.expense-date {
  display: inline-block;
  width: 80px;
  margin-right: 5px;
  border: solid 1px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  background-color: #070f2b;
  color: white;
}

.day {
  font-size: 30px;
}
