.expense-location {
  display: inline-block;
  width: 150px;
  margin-right: 150px;
}

.item-description {
  display: inline-block;
}

.item-title {
  display: inline-block;
  width: 150px;
  color: white;
}

.item-price {
  display: inline-block;
  background-color: #221f1f;
  color: white;
  padding: 5px;
  margin-left: 50px;
  border-radius: 5px;
  border: solid 2px;
}
