.expense-location {
  width: 100px;
  color: white;
}

.item-description {
  width: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item-title {
  width: 100px;
  color: white;
}

.item-price {
  background-color: #070f2b;
  color: white;
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px;
  float: right;
}
