.item-description {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* flex-wrap: wrap; */
}

.item-title {
  width: 150px;
  color: white;
}

.item-price {
  color: white;
  font-size: 20px;
  padding: 5px;
  border-bottom: solid #070f2b;
}

.del-btn {
  background-color: #070f2b;
  cursor: pointer;
  color: white;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  border: solid 1px;
}

.del-btn:hover {
  background-color: #25356e;
}
