.expense-items {
  background-color: #535c91;
  margin: 5px 0px;
  padding: 10px;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}
