* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #c6c4ee;
}

#root {
  width: 50vw;
  margin: auto;
}

.heading {
  margin: 15px 0px;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  background-color: #070f2b;
  color: white;
  overflow: hidden;
}
